body {
    text-align: center;
    font-family: sans-serif;
}
.container {
    width: 1280px;
    /*border: 1px solid black;*/

    display: inline-block;
    margin: 0 auto;
}
.top-section {
    text-align: left;
    margin-bottom: 45px;
}
.logo {
    height: 74px;
    font-size: 80pt;
    text-decoration: none;
    color: black;
}
.blue {
    color: #4bcaff;
}
.navbar-menu
{
    width: 100%;
    border: 1px solid black;
    background-color: #35444f;
    vertical-align: middle;
    display: table;
}
.navbar-menu-link {
    color: white;
    font-size: 24px;
    text-decoration: none;
    padding: 25px;
    display: table-cell;
    border-left: 1px solid transparent;
    border-right: 1px solid transparent;

}
.navbar-menu-link:hover{
    background-color: #222f3a;
    border-left: 1px solid #818181;
    border-right: 1px solid #818181 ;

}
.content {
   padding-top: 55px;
    margin-bottom: 150px;

}
.sidebar-menu {
    border: 1px solid #35444f;
    float: left;
    clear: both;

}
.navbar-menu-link2 {
    display: block;
    font-size: 30px;
    color: #35444f;
    text-decoration: none;
    padding: 30px 95px 30px 44px;
    text-align: left;
}
.navbar-menu-link2:hover {
    background-color: #dbdbdb;
    padding-left: 70px;
}
.img_right{
    border: 1px solid #485863;
    float: right;
    clear: both;
    display: inline-block;
    width: 830px;
    height: 529px;
    margin-bottom: 35px;
}
.img_text{
    /*border: 1px solid #485863;*/
    display: inline-block;

}
.text {
    font-family: sans-serif;
    font-size: 25px;
    color: #484848;
    text-align: justify;
    margin: 55px;

}

.content-block{
    display: block;
    margin-bottom: 400px;
}
.img {
    display: inline-block;
    padding: 74px;
    /*вертикальное выравнивание*/
}

.img:hover{
    transform: scale(1.35);
   }
.img:not(hover){
        transition: 0.7s;
}
.menu3 {
    width: 100%;
    border: 1px solid #35444f;
    display: inline-block;
    float: left;
    clear: left;
    background-color: #b4b7b2;
    margin-bottom: 35px;
    margin-top: 150px;
}
.navbar-menu-link3:hover{
    border-bottom: 1px solid #3181a6;
    color: #3181a6;
    padding-bottom: 3px;
   }

.navbar-menu-link3 {
    color: #0c1927;
    display: inline;
    font-size: 30px;
    text-decoration: none;
    padding: 10px 10px;
    float: left;
}
.nav3 {
    padding-left: 35px;
   }

.copyright {
    display: inline-block;
    font-size: 22px;
    color: #0c1927;
    text-align: center;
    margin: 0;
    padding: 15px;
   }