body {
    margin: 0;
}
.link {
    color: #16a085;
    font-size: 18pt;
    font-family: ﻿Courier, sans-serif;
    margin: 50px;
    text-decoration: none;
}
img {
    width: 100%;
}
h2 {
    text-align: center;
    color: #373737;
    font-size: 22pt;
    font-family: ﻿Courier, sans-serif;
    background: #f5f6f7 ;
}
.textcontainer {
    background: #f5f6f7;
    text-align: center;
    margin-left: 110px;
    margin-right: 110px;
}
.GREY {
    background: #f5f6f7;
}
.KNOPKA{
    margin: 50px 0 100px;
    display: inline-block;
    line-height:50px;
    text-align: center;
    border: 3px solid #16a085;
    border-radius: 3px;
    font-size: 12pt;
    background : #16a085;
    color: white;
    width: 190px;
    height:50px ;
    font-family: ﻿Courier, sans-serif;
    cursor: pointer;
}
.KNOPKA:hover{
    cursor: pointer;
}
h3 {
    color: #373737;
    text-align: right;
    margin-top: 50px;
    margin-right: 110px;
    margin-bottom: 50px;
}
