.container{
    width: 1280px;
    margin: 0 auto;
}
.logotip {
    font-size: 80px;
    margin-top: 60px;
    font-family: sans-serif;
}
a {
    color: black;
    text-decoration: none;
}
.logo-color {
    color: #4bcaff;
}
.panel-top {
    display: inline-block;
    background-color: #35444f;
    margin-top: 40px;
    width: 100%;
    text-align: center;
}
.links-top {
    display: inline-block;
    font-family: sans-serif;
    font-size: 22px;
    color: white;
    background-color: #35444f;
    padding: 22px 40px;
    border-left: 1px solid transparent;
    border-right: 1px solid transparent;
}
.links-top:hover {
    background-color: #222f3a;
    border-color: #818181;
}
.left-blok-links {
    display: inline-block;
    vertical-align: top;
    margin-top: 50px;
    width: 350px;
    border: 1px solid black;
}
.left-links {
    display: block;
    padding: 28px;
    font-size: 28px;
    font-family: sans-serif;
    color: #485863;
}
.left-links:hover{
    color: black;
    background-color: #dbdbdb;
    padding-left: 60px;
}
.picture-blok {
    display: inline-block;
    width: 900px;
}
.picture-blok > div {
    display: inline-block;
    margin:50px 1px 50px 50px ;
    padding: 85px 275px;
    border: 1px solid black;
}
.text {
    font-family: sans-serif;
    font-size: 19px;
    text-align: justify;
    color: #484848;
    margin: 50px 30px 50px 100px;
}
.footer {
    width: 100%;
    border: 1px solid #35444f;
    display: inline-block;
    background-color: #b4b7b2;
    margin-bottom: 35px;
    margin-top: 30px;
}
.footer-blok{
    display: inline-block;
    padding: 22px;
}
.footer-links {
    color: #0c1927;
    display: inline;
    font-size: 25px;
    font-family: sans-serif;
    text-decoration: none;
    padding: 10px 10px;
}
.footer-links:hover{
    border-bottom: 1px solid #3181a6;
    color: #3181a6;
    padding-bottom: 3px;
}
.copyright {
    display: inline-block;
    font-family: sans-serif;
    font-size: 25px;
    color: #0c1927;
    text-align: center;
    margin: 0;
    padding: 15px 15px 15px 180px;
}



